* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2f3542;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/** Color class for text */

.regularText {
    color: white;
}

.coloredText {
    color: #70a1ff;
}

.lightText {
    color: #ced6e0;
}

/** Navbar */

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    flex-direction: row;
    height: 75px;
    background-color: #747d8c;
}

.navBarTitle {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navBarTitle img {
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

.navBarLinkContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-right: 50px;
}

.navBarLink {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.navBarLink span {
    transition: all .2s;
}

.navBarLink:hover span{
    color: #70a1ff;
}

.navBarLink img {
    margin: 0 5px;
    width: 20px;
    height: 20px;
}

/* Slider */

.slider {
    display: flex;
    margin-top: 75px;
    width: 100%;
    height: 500px;
    background-color: #70a1ff;
}

/* Map */

.map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px 0;
}

.mapHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.two-colums {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.mapContainer {
    display: flex;
    flex: .5;
    height: 50vh;
    background-color: #57606f;
    border-radius: 10px;
}

.bookingContainer {
    height: 300px;
    background-color: #57606f;
    border-radius: 10px;
    flex: .3;
}